@tailwind base;
@tailwind components;
@tailwind utilities;

.text-white-drop-shadow {
    color: white;
    /*filter: drop-shadow(0 1.2px 1.2px rgba(0,0,0,0.8))*/
}

.maplibregl-popup-content {
    padding: 0 !important;
    border-radius: 1rem !important;
}

.custom-scrollbar {
    --sb-track-color: rgba(241, 241, 241, 0.5);
    --sb-thumb-color: #c5c5c5;
    --sb-size: 8px;
    --sb-radius: 3px;
}

@media (max-width: 640px) {
    .custom-scrollbar {
        --sb-size: 5px;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: var(--sb-radius);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: var(--sb-radius);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
    cursor: pointer;
}

@supports not selector(::-webkit-scrollbar) {
    .custom-scrollbar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.link {
    @apply text-blue-700
}

@keyframes shrinkWidth {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.countdown-bar {
  animation: shrinkWidth 10s linear forwards;
}